---
layout: default
title: Home
---

<h1 class="page-title">Últimos Posts</h1>

<ul class="post-list">
  {% for post in site.posts limit:15 %}
    <li class="post-card">
      <a href="{{ post.url | relative_url }}" class="post-card-title">{{ post.title }}</a>
      <p class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</p>
      {% if post.tags.size > 0 %}
        <div class="post-tags-inline">
          {% for tag in post.tags %}
            <a href="{{ '/tags.html' | relative_url }}#{{ tag }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
